#
install_path: "/usr/local/torigoya"
workspace_path: "/tmp"
package_scripts_path: "/etc/package_scripts"
placeholder_path: "/etc/placeholder"
apt_repository_path: "/etc/apt_repository"
target_system: "x86_64-linux-gnu"
target_arch: "amd64"

#
admin_pass_sha512: "[put your password. see README]"
session_secret: "[put random string]"

#
use_notification: ""
twitter_consumer_key: ""
twitter_consumer_secret: ""
twitter_access_token: ""
twitter_access_token_secret: ""