<a href="/">Top</a>

<form action="/deliver_messages" method="post">
    <label>API</label>
    <input type="text" name="address" value="<%= @address %>">
    <input type="submit" value="Update">
</form>


<a href="/deliver_messages/update_proc_table">ProcTable</a><br>
<a href="/deliver_messages/update_packages">Packages</a>
