<h1>Logs</h1>
<ui>
<% @logs.each do |log| %>
    <li><a href="/log/<%= log.id %>"><%= "#{log.created_at} - #{log.title} [#{log.status}]" %></a>(<a href="/log/delete/<%= log.id %>">D</a>)</li>
<% end %>
</ui>
